html,body{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Raleway;
}

header{
  background:black;
  color: white;
  padding: 10px 20px;
  width: 400px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  overflow-y: hidden;
}

header #settings_btn{
  float: right;
  position: absolute;
  right: 0px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  top: 0px;
  padding: 7.5px 20px;
  transition: all 0.5s;
  cursor: pointer;
}

header #settings_btn:hover{
  color: white;
  background: black;
}

.fa{
  transition: all .2s ;
}

.fa:hover{
  transform: scale(1.2);
}

.moveUp{
  transform: translateY(-91%);
}

#main{
  transition: all .2s ;
  height: 100%;
  background-color: white;
  position: relative;
  z-index: 10;
}

#content{
  width: 100%;
  text-align: center;
}

#content .left{
  width: 50%;
  display: inline-block;
}

#content .right{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.cover{
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: inherit;
  overflow: hidden;
  position: relative;
}

#content .progressBarContenair{
    height: 5px;
    top: 295px;
    position: absolute;
    width: 100%;
    background: rgba(255,255,255, 0.5);
}

#content .progressBar{
  width: 0.1%;
  height: 5px;
  background: #FF9929;
  margin-bottom: 10px;
}

#content .cover:hover .timeInfo{
  transform: translateY(0px);
}

#content .timeInfo{
  transition: all .2s ;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  transform: translateY(100px);
  margin-bottom: 8px;
  position: absolute;
  top: 265px;
  color: white;
  width: 100px;
  border-radius: 5px;
  background: #FF9929;
  padding: 2px 10px;
  left: 50%;
  margin-left: -60px;
}

#track{
  display: block;
  text-align: center;
  padding: 20px 20px 4px 20px;
  font-size: 21px;
  font-weight: normal;
  color: #394A5A;
}

#album{
  color: #394A5A;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

#artist{
  color: #FF9929;
  display: block;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}

.stanby{
  border: 3px solid;
  font-size: 26px;
  color: #FF9A06;
  padding: 0px 20px;
  margin: 10px auto 25px;
  display: block;
  width: 20%;
  cursor: pointer;
  transition: all .2s ;
}

.stanby:hover{
  border: 3px solid #FF9A06;
  background: #FF9A06;
  color: #FFF;
  transform: scale(1.1);
}
.buttonRemote{
  cursor: pointer;
}

.volumeControl{
  color: #708696;
  display: flex;
  margin-top: 5px;
  font-size: 28px;
  justify-content: center;
  transition: all .2s;
}

.volumeControl.showSources{
  transition: all .2s;
  transform: translateX(100%);
}

.volumeControl .volumeBarContenair{
  background: #CDD9DE;
  width: 60%;
  height: 5px;
  margin: 10px 15px;
  border-radius: 20px;
}

.volumeControl .volumeBar{
  background: #708696;
  width: 30%;
  height: 5px;
  border-radius: 20px;
}

.trackControl{
  display: flex;
  margin: 5px 0px;
  font-size: 28px;
  align-items: center;
  justify-content: center;
  color:#5A6F81;
  transition: all .2s;
}

.trackControl.showSources{
  transition: all .2s;
  transform: translateX(100%);
}
.trackControl .fa-playStatus{
  border: 2px solid #D1D8DD;
  border-radius: 50%;
  padding: 25px 29px;
  font-size: 30px;
  height: 29.5px;
  width: 21px;
  text-align: center;
  margin: 0px 10px;
}
.trackControl .fa-playStatus.fa-pause{
  padding-right: 33px;
}

.trackControl .fa-forward,.trackControl .fa-backward{
  border: 2px solid #D1D8DD;
  border-radius: 50%;
  padding: 14px;
  font-size: 18px;
  margin: 0px 5px;
}

.trackControl .fa-forward{
  padding-left: 18px;
  height: 18px;
  width: 14px;
  margin-right: 20px;
}

.trackControl .fa-backward{
  padding-right: 18px;
  height: 18px;
  width: 14px;
  margin-left: 20px;
}

.trackControl .fa-heart{
  color: #EE0760;
}

.sourceControl{
  list-style: none;
  background: #FF9929;
  color: white;
  list-style: none;
  text-align: center;
  font-size: 16px;
  position: absolute;
  width: 100%;
  bottom: 50px;
  transform: translateX(-100%);
  transition: all .2s;
  padding-top: 8px;
}

.sourceControl.showSources{
  transform: translateX(0px);
}

.sourceControl .itemName{
  padding: 10px 0px 15px;
}

.sourceControl ul{
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .2s;
  height: 125px;
  display: flex;
  flex-direction:column;
  justify-content:space-around;
}
.sourceControl li{
  transition: all .2s;
  cursor:pointer;
}

.sourceControl li:hover{
  color: #394A5A;
  font-size: 20px;
  padding: 4px;
  font-weight: bold;
}

.sourceControl li.selected{
  color: #394A5A;
  font-size: 20px;
  padding: 4px;
}

.sourceControl .buttonList{
  display: flex;
  justify-content: space-around;
  margin-top: 8px;
}

.sourceControl .buttonList span{
  display: block;
  width: 100%;
  padding: 15px 0px;
  background: #394A5A;
  cursor:pointer;
  transition: all .2s;
}

.sourceControl .buttonList span:hover,
.sourceControl .buttonList span.hover{
  background: #26313C;
  font-weight: bold;
}

.footerPopup{
  font-size: 18px;
  font-weight: normal;
  color: #5989B6;
  text-align: center;
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.footerPopup .fa{
  margin: 0px 15px;
  color: #FF9A06;
  height: 18px;
  width: 18px;
  text-align: center;
  border: 2px solid;
  border-radius: 50%;
  padding: 6px;
  font-size: 18px;
  cursor: pointer;
}

.footerPopup .cog-left{
  background: #FF9A06;
  color: white;
}

.footerPopup .cog-left:hover{
  transform: none;
  cursor: default;
}

.settings{
  transition: all .2s ;
  /*height: 100%;*/
  height: 500px;
  width: 100%;
  position: absolute;
  top: 0px;
  transition: all .2s;
  z-index: 1;
  margin-top: 60px;
  overflow-y: scroll;
  padding-bottom: 20px;
}

.settings button, a.buttonLink{
  color: white;
  border: none;
  background: #5A6F81;
  padding: 8px 15px;
  display: block;
  width: 80%;
  margin: auto;
  font-size: 15px;
}

.settings .buttonLink{
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  padding: 8px 0px;
  margin-top: 20px;
}

.settings .noDevice{
  text-align: center;
  padding: 20px;
  font-size: 16px;
}

.settings .problem{
  margin-top: 20px;
  cursor: pointer;
}

svg path{
  fill: #7EBAE5;
}

svg:root{
  fill: #7EBAE5;
}

.settings .currentDevice{
  margin-bottom: 20px;
}
.settings .currentDevice .title{
    background: grey;
    padding: 12px 20px;
    color: white;
    text-align: center;
    font-weight: bold;
}
.settings .currentDevice .single-device{
  cursor: default;
}

.settings ul{
  margin: 0;
  padding: 0;
}

.settings .searchBose{
  text-align: center;
  font-size: 2em;
}

.settings .searchBose #loader{
  margin-bottom: 20px;
}


.settings .searchBoseProgressContenair{
  height: 10px;
  width: 100%;
  background: #E8EEF3;
  margin-bottom: 10px;
}
.settings .searchBoseProgress{
  height: 10px;
  background: #5A6F81;
}

.settings .single-device{
  display: flex;
  list-style: none;
  padding: 10px;
  justify-content: space-around;
  transition: all .2s;
  cursor: pointer;
}
.settings .single-device:nth-child(odd){
  background: #F0E9E9;
}
.settings .single-device:hover{
  background: #F4F1F1;
}

.settings .single-device .data span{
  display: block;
  margin: 6px 0;
}

.settings .single-device .data span.choice{
  display: none;
  background: #7EBAE5;
  text-align: center;
  color: white;
  padding: 5px;
  font-weight: bold;
}
.settings .single-device .data span.delete{
  color: #FFF;
  background: #DD7070;
  padding: 10px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all .2s;
}

.settings .single-device .data span.delete:hover{
  transform: scale(1.2);
}

.settings .single-device:hover .data span.choice{
  display: block;
  transition: all .2s;
}

.settings .break{
  display: block;
  height: 20px;
  width: 100%;
}

.settings .contact{
  position: fixed;
  bottom: 0px;
  z-index: 99;
  background: white;
  width: 100%;
  text-align: center;
  padding: 5px 0px;
}

#remote{
  background: #ADAEAD;
}

.content_remote{
  display: flex;
  justify-content: center;
}

#remote button{
  border: none;
  width: 32%;
  margin: 0;
  margin: auto 0%;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 0px;
  color: white;
  transition: all .2s ease-in-out;
}

#remote button:hover{
    color: black;
    transform: scale(1.1);
}

#noSettings{
  text-align: center;
}
#noSettings span{
  padding: 20px;
  font-size: 18px;
}
#noSettings #loader{
  padding: 25px;
  font-size: 40px;
}

#noSettings button{
  border: none;
  background: black;
  color: white;
  width: 80%;
  padding: 16px;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  margin-bottom: 20px;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {

    .cover{height: 200px;}
    #content .progressBarContenair{
        top: 195px;
    }
    #content .timeInfo{
      top: 165px;
    }
}
