html,body{
    padding: 0;
    margin: 0;
    border: none;
}

header{
  background:black;
  color: white;
  padding: 10px 20px;
  width: 400px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

header #settings_btn{
  float: right;
  position: absolute;
  right: 0px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  top: 0px;
  padding: 7.5px 20px;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

header #settings_btn:hover{
  color: white;
  background: black;
}

#content{
  width: 100%;
}

#content .left{
  width: 50%;
  display: inline-block;
}

#content .right{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.cover{
  max-width: 100%;
}

#content .progressBar{
  width: 0.1%;
  height: 5px;
  background: #7AB8E4;
  margin-bottom: 10px;
}

#content .timeInfo{
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 8px;
}

#remote{

}

#remote button{
  border: none;
  width: 32%;
  margin: 0;
  margin: auto 0%;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 0px;
  color: white;
  transition: all .2s ease-in-out;
}

#remote button:hover{
    color: black;
    transform: scale(1.1);
}

#noSettings{
  text-align: center;
}
#noSettings span{
  padding: 20px;
  font-size: 18px;
}
#noSettings #loader{
  padding: 25px;
  font-size: 40px;
}

#noSettings button{
  border: none;
  background: black;
  color: white;
  width: 80%;
  padding: 16px;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  margin-bottom: 20px;
}
