<!doctype html>
<html>
  <head>
    <title>SoundTouch Chrome Extenstion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,400' rel='stylesheet' type='text/css'>
    <link href="style.css" rel="stylesheet">
    <script src="../js/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="app">
    <div id="main" ng-class="remote.showSettings ? 'moveUp': ''" ng-controller="RemoteController as remote">
      <div id="content">
        <div id="cover" class="cover" style="background:url({{remote.art}})">
          <div ng-if="remote.timeInfo" class="timeInfo">{{remote.timeInfo}}</div>
        </div>
        <div class="progressBarContenair">
          <div class="progressBar" style="width:{{remote.progressBar}}%;"></div>
        </div>

        <span id="track">{{remote.track}}</span>
        <span id="album">{{remote.album}}</span>
        <span id="artist">{{remote.artist}}</span>
      </div>

      <div class="trackControl">
        <i class="fa fa-stop buttonRemote" ng-mouseup="remote.pushUpButton('STOP')"></i>
        <i class="fa fa-backward buttonRemote" ng-mouseup="remote.pushUpButton('PREV_TRACK')"></i>
        <i class="fa fa-play buttonRemote" ng-mouseup="remote.pushUpButton('PLAY_PAUSE')"></i>
        <i class="fa fa-forward buttonRemote" ng-mouseup="remote.pushUpButton('NEXT_TRACK')"></i>
        <i class="fa {{remote.ratingClass}} buttonRemote" ng-mouseup="remote.pushUpButton('FAVORITE')"></i>
      </div>

      <div class="volumeControl">
        <i class="fa fa-volume-down buttonRemote" ng-mouseup="remote.pushButton('VOLUME_DOWN')" ng-mousedown="remote.pushDownButton('VOLUME_DOWN')"></i>
        <div class="volumeBarContenair">
          <div class="volumeBar" style="width:{{remote.volumeBar}}%;"></div>
        </div>
        <i class="fa fa-volume-up buttonRemote" ng-mouseup="remote.pushButton('VOLUME_UP')" ng-mousedown="remote.pushDownButton('VOLUME_UP')"></i>
      </div>

      <div class="footerPopup">
        <i class="fa fa-list-ul" ng-style="{opacity : ((remote.showSettings) && '0') || '1'}"></i>
        <span ng-if="!remote.showSettings">{{remote.source}}</span>
        <span ng-if="remote.showSettings">Settings</span>
        <i class="fa" ng-class="remote.showSettings ? 'fa-times': 'fa-cog'" ng-click="remote.toggleSettings()"></i>
      </div>

    </div>

    <div ng-controller="SettingsController as settings" class="settings">

      <button ng-if='!settings.name && !settings.scanProgress' ng-click="settings.scanNetwork()">
        <i class="fa fa-wifi"></i>
        Scan
      </button>

      <i id="loader" ng-if='settings.scanProgress' class="fa fa-circle-o-notch fa-spin"></i>

      <ul ng-if="settings.devices.length">
        <li ng-repeat="device in settings.devices">
          <h3>{{device.name}}</h3>
          <h3>{{device.type}}</h3>
          <h3>{{device.ipAddress}}</h3>
          <h3><img ng-src="{{device.imgUrl}}" alt="" /></h3>
        </li>
      </ul>

      <h3 ng-if="vm.devices && vm.devices.length == 0 && !settings.scanProgress">No device found :'(</h3>

    </div>
    <div id="noSettings" ng-if="0">
      <button class="buttonRemote" type="button" name="button" value="POWER"><i class="fa fa-power-off"></i></button>
      <span id="loaderSettings">Loading Settings</span>
      <span id="loaderInformations" style="display:none;">Loading Track Informations</span>
      <span id="setSettingsMessage" style="display:none;">Missing or Bad settings</span>
      <i id="loader" class="fa fa-circle-o-notch fa-spin"></i>
      <button id="settings_btn2" style="display:none;"><i class="fa fa-cog"></i> Set settings</button>
    </div>
  </body>
</html>
