html,body{
    padding: 0;
    margin: 0;
    border: none;
    font-family: Raleway;
}

header{
  background:black;
  color: white;
  padding: 10px 20px;
  width: 400px;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  overflow-y: hidden;
}

header #settings_btn{
  float: right;
  position: absolute;
  right: 0px;
  border: none;
  background-color: white;
  color: black;
  font-size: 20px;
  top: 0px;
  padding: 7.5px 20px;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

header #settings_btn:hover{
  color: white;
  background: black;
}

#content{
  width: 100%;
}

#content .left{
  width: 50%;
  display: inline-block;
}

#content .right{
  width: 49%;
  display: inline-block;
  vertical-align: top;
}

.cover{
  width: 400px;
  height: 400px;
  background-size: cover;
  background-position: inherit;
  overflow: hidden;
  position: relative;
}

#content .progressBarContenair{
    height: 5px;
    top: 395px;
    position: absolute;
    width: 100%;
    background: rgba(255,255,255, 0.5);
}

#content .progressBar{
  width: 0.1%;
  height: 5px;
  background: #FF9929;
  margin-bottom: 10px;
}

#content .cover:hover .timeInfo{
  transform: translateY(0px);
}

#content .timeInfo{
  transition: all .2s ;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  transform: translateY(100px);
  margin-bottom: 8px;
  position: absolute;
  top: 365px;
  color: white;
  width: 100px;
  border-radius: 5px;
  background: #FF9929;
  padding: 2px 10px;
  left: 50%;
  margin-left: -60px;
}

#track{
  display: block;
  text-align: center;
  padding: 20px 20px 4px 20px;
  font-size: 21px;
  font-weight: normal;
  color: #394A5A;
}

#album{
  color: #394A5A;
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

#artist{
  color: #FF9929;
  display: block;
  text-align: center;
  padding: 5px;
  font-weight: bold;
  font-size: 16px;
}

#remote{
  background: #ADAEAD;
}

.content_remote{
  display: flex;
  justify-content: center;
}

#remote button{
  border: none;
  width: 32%;
  margin: 0;
  margin: auto 0%;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  padding: 6px 0px;
  color: white;
  transition: all .2s ease-in-out;
}

#remote button:hover{
    color: black;
    transform: scale(1.1);
}

#noSettings{
  text-align: center;
}
#noSettings span{
  padding: 20px;
  font-size: 18px;
}
#noSettings #loader{
  padding: 25px;
  font-size: 40px;
}

#noSettings button{
  border: none;
  background: black;
  color: white;
  width: 80%;
  padding: 16px;
  font-size: 12px;
  margin: auto;
  cursor: pointer;
  margin-bottom: 20px;
}
